@use "../global" as g;

.sidebar {
  background-color: var(--button-menu);
  height: 687px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar-logo {
  width: 40px;
  margin-right: 5px;
  mix-blend-mode: color-burn;
}
.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 10px;
  font-weight: bold;
}

.menu-icons {
  padding-right: 10px;
  font-size: 20px;
}
.sidebar-menu {
  transition: ease-in 0.3s;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: var(--button-border);
  width: var(--button-width);
  background-color: var(--button-menu);
  border-radius: var(--button-radius);
  color: black;
  cursor: pointer;
  width: 180px;
  @include g.breakpoint(normal) {
    width: 160px;
  }
}
.active {
  background-color: g.$menu-hover;
  color: g.$text-hover;
}
.sidebar-menu:hover {
  background-color: g.$menu-hover;
  opacity: 0.8;
  color: white;
}
