@forward "./components/scss/Style.scss";
body {
  background-color: #e0e1e7;
  font-family: "Climate Crisis", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}
