@forward "../side/buttons";

.dash {
  height: 687px;
  background-color: var(--button-menu);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dash-container-1 {
  display: flex;
  justify-content: center;
}
.dash-container-2 {
  background-color: var(--button-menu);
  width: 90%;
}
.dash-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.dash-grid-span-3 {
  grid-column: span 3;
}
.dash-grid-span-2 {
  grid-row: span 2;
  margin: 5px;
}
.grid-dragndrop {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
