@forward "../side/buttons";

.dash {
  height: 687px;
  background-color: var(--button-menu);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dash-container-1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.dash-container-2 {
  background-color: var(--button-menu);
  width: 90%;
}
.dash-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-template-rows: 1fr 1fr 2fr;
}
.dash-grid-span-3 {
  grid-column: span 3;
  grid-row: span 2;
}
.dash-grid-span-2 {
  grid-row: span 2;
}
