@use "../global/variables" as g;
@forward "../side/buttons";
@use "../global" as u;

@mixin grid-container-design {
  background-color: g.$dash-background;
  color: black;
  border-radius: g.$dash-border;
  padding: 10px;
  box-shadow: 10px 10px 30px #dedede;
  border: 2px solid #dbdbdb;
}
@mixin grid-design {
  background-color: var(--button-menu);
  border-radius: g.$dash-border;
}
@mixin data-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  align-items: center;
  @include u.breakpoint(notebook) {
    padding: 10px 5px;
  }
  @include u.breakpoint(tablet) {
    padding: 5px 5px;
    justify-content: space-between;
  }
}

.grid-income {
  @include grid-design();
}
.container {
  transition: 0.5s;
  @include grid-container-design;
}
.container:hover {
  box-shadow: 10px 10px 30px #b2b2b2;
}
.income-list {
  @include data-container;
}
.income-list-dnd {
  @include data-container;
  border-radius: 8px;
  border: 1px solid rgb(233, 213, 213);
  margin-top: 10px;
  cursor: move;
  font-size: 18px;
  @include u.breakpoint(notebook) {
    padding: 5px 5px;
    font-size: 13px;
  }
}
.dash-graph {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 3%;
  @include u.breakpoint(notebook) {
    position: relative;
    top: 13%;
    height: 100%;
  }
  @include u.breakpoint(tablet) {
    top: 18%;
  }
}

.container-header {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #8e8b8b;
  display: flex;
  align-items: center;
  @include u.breakpoint(notebook) {
    padding: 15px 5px;
  }
  @include u.breakpoint(tablet) {
    padding: 8px 5px;
    font-size: 13px;
  }
}
.income-container {
  height: 120px;
}
.dnd-container {
  height: 273px;
  @include u.breakpoint(notebook) {
    height: 263px;
  }
  @include u.breakpoint(tablet) {
    height: 233px;
  }
}
.graph-container {
  height: 430px;
  padding: 10px;
  @include u.breakpoint(notebook) {
    height: 417px;
  }
  @include u.breakpoint(tablet) {
    height: 383px;
  }
}
.dash-content {
  display: flex;
}
.dash-money {
  font-size: 25px;
  font-weight: 600;
  @include u.breakpoint(notebook) {
    font-size: 20px;
  }
  @include u.breakpoint(notebook) {
    font-size: 13px;
  }
}
.dash-percentage {
  font-size: 11px;
  font-weight: 600;
  color: #5fd16c;
  background-color: #cfffd5;
  border-radius: 7px;
  padding: 5px;

  display: flex;
  align-items: center;
  @include u.breakpoint(notebook) {
    padding: 5px;
  }
}
.container-icons {
  padding: 5px 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include u.breakpoint(notebook) {
    padding: 7px 5px;
  }
}
.dash-percentage-expense {
  font-size: 11px;
  font-weight: 600;
  color: rgb(255, 81, 81);
  background-color: #ffbfbf;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.drag-conrtainer {
  background-color: rgb(249 249 249);
  border-radius: 8px;
  height: 210px;
  padding: 10px;
  @include u.breakpoint(notebook) {
    height: 180px;
  }
}
